starkbank_keys/**
.env
__pycache__/stark_connect.cpython-310.pyc
__pycache__/invoice_spamer.cpython-310.pyc
__pycache__/invoice_spamer_test.cpython-310-pytest-8.0.0.pyc
__pycache__/invoice_spamer_test.cpython-310-pytest-8.0.0.pyc
